@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Site construído por @ViewData["vinicius"].</p>
<p>Meu e-mail: @ViewData["email"]</p>
<p>
    <a href="https://www.linkedin.com/in/vinicius-do-nascimento-b98289189/"> Meu LinkedIn. </a>
</p>
